<div class="game">
		<div class="game-score">
			<div class="game-score_name">
	  			<img src="./images/logo.svg" alt="">
			</div>
			<div class="game-score_wins">
				<h3>score</h3>
				<p class="target-score"></p>
			</div>
		</div>
		<div class="vs hide js-vs">
			<div class="vs-wrapper">
				<div class="vs-youpicked">
					<h2>you picked</h2>
					<div class="big js-player">
						<div class="choices_circle js-player-choice paper hide" data-value="0">
							<img src="./images/icon-paper.svg" alt="">
						</div>
						<div class="choices_circle  js-player-choice  scissor hide" data-value="1" >
							<img src="./images/icon-scissors.svg" alt="">				
						</div>	
						<div class="choices_circle js-player-choice  rock hide" data-value="2">
							<img src="./images/icon-rock.svg" alt="">			
						</div>						
					</div>
				</div>
				<div class="vs-game ">
					<div class="vs-game-result hide js-result">
						<h3 class="target-winner"></h3>
						<button class="again js-again">play again</button>
					</div>
				
				</div>
				<div class="vs-cpupicked">
					<h2>the house picked</h2>
					<div class="choices_circle-shadow js-shadow"></div>
					<div class="big hide js-house">
						<div class="choices_circle js-computer-choice paper hide" data-value="0">
							<img src="./images/icon-paper.svg" alt="">
						</div>
						<div class="choices_circle  js-computer-choice  scissor hide" data-value="1">
							<img src="./images/icon-scissors.svg" alt="">				
						</div>	
						<div class="choices_circle js-computer-choice  rock hide" data-value="2">
							<img src="./images/icon-rock.svg" alt="">			
						</div>		
				</div>
				
				</div>
			</div>
		</div>

		<div class="choices js-choices ">
			<div class="choices-trinagle">
				<svg xmlns="http://www.w3.org/2000/svg" width="305" height="277"><path fill="none" stroke="#000" stroke-width="15" d="M291.5 7.5H4.574c3.119 0 52.416 84.667 147.892 254L291.5 7.5z" opacity=".2"/></svg>
			</div>
			<div class="choices_top">
				<div class="choices_circle js-choice paper"  >
					<img src="./images/icon-paper.svg" alt="">
				</div>
				<div class="choices_circle  js-choice scissor" >
					<img src="./images/icon-scissors.svg" alt="">	
				</div>

			</div>
			<div class="choices_bottom">
				<div class="choices_circle js-choice rock" >
							<img src="./images/icon-rock.svg" alt="">			
										
									
				</div>
			</div>
		</div>


		<button class="rules js-rules">rules</button>
</div> <!-- end game -->

	<div class="filter hide js-filter"> </div><!-- end filter -->
	



	<div class="rules-modal js-rulesModal hide">
		<div class="rules-modal-menu">
			<p>rules</p>
			<svg class="close js-close" xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path fill="#3B4262" fill-rule="evenodd" d="M16.97 0l2.122 2.121-7.425 7.425 7.425 7.425-2.121 2.12-7.425-7.424-7.425 7.425L0 16.97l7.425-7.425L0 2.121 2.121 0l7.425 7.425L16.971 0z" opacity=".25"/></svg>
		</div>
		<div class="rules-modal-logic">
			<img src="./images/image-rules.svg" alt="">
		</div>
		
		
	</div>






